
#map/normal/i start-insert
#map/normal/s start-select-aircraft

#map/normal/h (move-view :left)
#map/normal/j (move-view :down)
#map/normal/k (move-view :up)
#map/normal/l (move-view :right)
#map/normal/+ (zoom-view :in)
#map/normal/= (zoom-view :in)
#map/normal/- (zoom-view :out)

#map/normal/<esc> stop-insert

; planned; demos multi-key maps
#map/normal/od toggle-departures
#map/normal/of toggle-flight-strips
#map/normal/op toggle-flight-plan
