;;
;; Normal mode
;;

#map/normal/i start-insert
#map/normal/s start-select-aircraft

#map/normal/a add-strip

#map/normal/h (move-view :left)
#map/normal/j (move-view :down)
#map/normal/k (move-view :up)
#map/normal/l (move-view :right)
#map/normal/+ (zoom-view :in)
#map/normal/= (zoom-view :in)
#map/normal/- (zoom-view :out)
#map/normal/m center-view

; output scrolling
#map/normal/<ctrl-b> (output-scroll 1)
#map/normal/<ctrl-f> (output-scroll -1)
#map/normal/gg (output-scroll 999999)
#map/normal/G (output-scroll -999999)

#map/normal/<esc> stop-insert

; planned; demos multi-key maps
#map/normal/od toggle-departures
#map/normal/of toggle-flight-strips
#map/normal/os toggle-flight-strips
#map/normal/op toggle-flight-plan


;;
;; Flight Strip mode ("strips")
;;

#map/strips/h (move-strip-cursor :left)
#map/strips/j (move-strip-cursor :down)
#map/strips/k (move-strip-cursor :up)
#map/strips/l (move-strip-cursor :right)

#map/strips/H (move-current-strip :left)
#map/strips/J (move-current-strip :down)
#map/strips/K (move-current-strip :up)
#map/strips/L (move-current-strip :right)

;; use shift-D to make it harder to do accidentally
#map/strips/D delete-current-strip
; "a" for "amend"; "o" for "open"
#map/strips/a edit-current-strip
#map/strips/o edit-current-strip
#map/strips/p push-current-strip
